@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
  font-family: Montserrat;
  margin: 0;
}

header {
  background-color: burlywood;
  background-image: url(images/mainframe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

header:hover {
  background-color: burlywood;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 70, 70, 0.3),
      rgba(0, 70, 70, 0.3)
    ),
    url(images/mainframe.jpg);
  height: 60vh;
}

header .cont_title {
  text-align: center;
  position: relative;
  top: 20vh;
  color: antiquewhite;
}

header .cont_button {
  text-align: center;
  position: relative;
  top: 40vh;
}

.cont_button_button {
  width: 10em;
  height: 3em;

  border-radius: 10px;
  color: antiquewhite;
  background-color: rgba(0, 40, 40, 0.3);
}

main {
  background-color: rgb(68, 71, 128);
  color: antiquewhite;
  text-align: justify;
  height: 25vh;
}

main p {
  padding: 1em 1em 1em 1em;
}

.different_devices {
  background-color: rgb(32, 71, 128);
  color: antiquewhite;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 899px) {
  .different_devices {
    flex-direction: column;
  }
}

.different_devices .sing_device {
  padding: 1em 1em 1em 1em;
}

.different_devices p {
  padding: 1em 1em 1em 1em;
}

.different_devices .sing_deviceb {
  padding: 1em 1em 1em 1em;
  background-color: rgb(90, 71, 128);
}

.different_devices img {
  width: 25vw;
}

.another_text {
  background-color: rgb(80, 71, 128);
  color: antiquewhite;
  text-align: center;
  padding: 1em 1em 1em 1em;
}

.bottom_text {
  background-color: rgb(80, 71, 128);
  flex-direction: row;
  color: antiquewhite;
  display: flex;
  flex: auto;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 899px) {
  .bottom_text {
    flex-direction: column;
  }
}

.left_bottom_text {
  background-color: antiquewhite;
}

.right_bottom_text {
  background-color: burlywood;
}
